* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
    margin: 0px;
}

.container {
    color: white;
    background-color: #1f2937;
    display:flex;
    width: 100%;

}

.header {
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    width: 100%;
}

.lefthead {
    font-size: 18px;
    color: #f9FAF8;
    margin-left: 100px;

}

.righthead {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-right: 100px;
    flex-wrap: nowrap;

}


/* Below is all Hero Section */

.hero-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #1f2937;
    height: 400px;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}

.hero-left {
    color: white;
    display:flex;
    flex-direction: column;

}

.hero-box {
    width: 400px;
    height: 200px;
    background-color: gray;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    font-weight: 900;
    margin-top: 10px;
}

p {
    margin-top: 5px;
}

h1 {
    margin-bottom: 5px;
}

/* Below is all random info section*/

.random-section {
    height: 350px;

}

h2 {
    text-align: center;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 45px    
}

.bluebox1, .bluebox2, .bluebox3, .bluebox4 {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 15px;
    border-color: #3882f6;
    border-style: solid;
}