* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
    margin: 0px;

}

.container {
    color: white;
    background-color: #1f2937;
    display:flex;
    width: 100%;

}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    width: 100%;
}

.lefthead {
    font-size: 18px;
    color: #f9FAF8;
    margin-left: 100px;

}

.righthead {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-right: 100px;
    flex-wrap: nowrap;

}

